.nextcms-upload-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 1.5714285714285714;
  background: #ffffff;
  -webkit-transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nextcms-upload-container > .nextcms-upload-content {
  display: flex;
  flex: 1;
}

.nextcms-upload-container > .nextcms-upload-content > .nextcms-upload-tree {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 240px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ebebeb;
  margin-right: 15px;
}

.nextcms-upload-container
  > .nextcms-upload-content
  > .nextcms-upload-tree
  .nextcms-upload-tree-search {
  padding: 12px;
}

.nextcms-upload-container
  > .nextcms-upload-content
  > .nextcms-upload-tree
  .nextcms-upload-tree-content {
    padding: 0 12px 12px 12px;
}

.nextcms-upload-container > .nextcms-upload-content > .nextcms-upload-list {
}
